{% extends 'charts/base.html' %}

{% block content %}

<div class="chartContainer">

    <div class="row">
        <div class="col s10 m4 l4 xl2">
            <div class="input-field  ddMenus chartMenu">
                <select id="chart_type_ddl">
                    <option>Graph Type</option>
                    <option value="choropleth_county">County Choropleth</option>
                    <option value="choropleth_state">State Choropleth</option>
                    <option title='markers' value="scatter">Scatter</option>
                    <option title='lines' value="line">Line</option>
                    <option title='lines' value="bar">Bar</option>
                    <option value="pie">Pie</option>
                </select>
            </div>
        </div>

        <div class="col s10 m4 l4 xl2">
            <div class="input-field ddMenus">
                <select id="gender">
                    <option value="">Any Gender</option>
                    {% for gender in genders %}
                    <option value="{{gender.id}}">{{gender.name}}</option>
                    {% endfor %}ß

                </select>
            </div>
        </div>

        <div class="col s10 m4 l4 xl2 ">
            <div class="input-field  ddMenus">
                <select id="income">
                    <option value="">Income Level</option>
                    {% for income_level in income_levels %}
                    <option value="{{income_level.id}}">{{income_level.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="col s10 m4 l4 xl2">
            <div class="input-field  ddMenus">
                <select id="education">
                    <option value="">Any Education</option>
                    {% for education_level in education_levels %}
                    <option value="{{education_level.id}}">{{education_level.name}}</option>
                    {% endfor %}

                </select>
            </div>
        </div>

                <div class="col s10 m4 l4 xl2">
            <div class="input-field ddMenus">
                <select id="year">
                    <option value="">Any Year</option>
                    {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="col s10 m4 l4 xl2 dd_btn_container">
            <a id="submit_button" class="waves-effect waves-light btn dd_btn">Build Graph</a>
</div>

    </div>
    <div id="i_frame_div">
        <div >
            <img id="loading_icon" src="https://i.imgur.com/fZDdJHx.gif" style="display:none; position:absolute;
    bottom: 25%;
    right: 40%;
    width: 25%;border-style: outset;"/><br><p id="loading_word" style="display:none; position:absolute;
    bottom: 23%;
    right: 23%;
    width: 25%;">loading...</p>
        </div>

    <div id="finalGraph" style="width:100%;"></div>
    <div id="choroDiv" style="width:100%;"></div>
     <div>
        <iframe id="graph_iframe" src="">
            <p>Your browser does not support iframes.</p>
        </iframe>
    </div>


</div>

<script>
    let year_input = document.querySelector('#year')
    let gender_input = document.querySelector('#gender')
    let income_level = document.querySelector('#income')
    let education_level = document.querySelector('#education')
    let submit_button = document.querySelector('#submit_button')


    function getData() {
        let url = "{% url 'charts:get_plotly_url' %}"

        document.querySelector('#loading_icon').style.display = '';
        document.querySelector('#loading_word').style.display = '';

        let gender_id = gender_input.options[gender_input.selectedIndex].value
        let education_level_id = education_level.options[education_level.selectedIndex].value
        let year_id = year_input.options[year_input.selectedIndex].value
        let income_level_id = income_level.options[income_level.selectedIndex].value
        console.log('gettin the url')
        axios.get(url, {
            params: {
                gender_id: gender_id,
                education_level_id: education_level_id,
                year: year_id,
                income_level_id: income_level_id,
            }
        })
        .then(function (response) {
            document.querySelector('#graph_iframe').src = response.data
            document.querySelector('#loading_icon').style.display = 'none';
            document.querySelector('#loading_word').style.display = 'none';


        })
    }

    // gender_input.onchange = getData
    // income_level.onchange = getData
    // education_level.onchange = getData
    // year_input.onchange = getData

    submit_button.onclick = getData

    // make sure to turn below back on- just turned off for testing
    // getData()

</script>

{% endblock %}

