{% extends 'charts/base.html' %}

{% block content %}

<div class="homeStyles">
    <div class="row">
        <div class="col s10 m6">
            <h3>People Powered</h3>
            <h5 class="subtitle">Citizen Centric, Data Democratized</h5>
        </div>
        <div class="col s10 m6 socialMedia">
            <h4><a href="https://twitter.com/demograph3" target="_blank">
            <i class="fab fa-twitter socMedia red-text"></i></a>
            <a href="https://www.linkedin.com/in/cheryl-lewman-58241066/" target="_blank">
                <i class="fab fa-linkedin-in socMedia red-text"></i>
            </a>
                <a href="https://gist.github.com/clewman" target="_blank">
            <i class="fab fa-github socMedia red-text"></i>
                </a>
                <a href="https://gist.github.com/clewman" target="_blank">
                    <i class="fab fa-codepen socMedia red-text"></i></a>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col m5 s10"><p>Demograph is a web application that allows you to create graphs that will show
            the disparity between income, education, and gender.  </p></div>
        <div class="col s0 m1"></div>
        <div class="col m5 s10"><p>You can create county choroplethsYou can select gender, education level,
            year (2012-2017) and income toThe data comes from the US Census API, American
            Community Survey (ACS), which collects information for US counties with populations of 65,000 or more.
            You can view by county, state, or with comparison charts.
        create county .</p></div>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s5"> <a href="{% url 'charts:graphs'  %}">
            <btn class="waves-effect waves-light btn-large"><h5>Create a Graph</h5></btn>
            </a>
</div>
        <div class="col s3"></div>
    </div>
</div>

{% endblock %}
