{% extends 'charts/base.html' %}

{% block content %}

<div class="homeStyles">
    <div class="row">
        <div class="col s10 m6">
            <h3>People Powered</h3>
            <h5 class="subtitle">Citizen Centric, Data Democratized</h5>
        </div>
        <div class="col s10 m6 socialMedia">
            <h4><a href="https://twitter.com/demograph3" target="_blank">
            <i class="fab fa-twitter socMedia red-text"></i></a>
            <a href="https://www.linkedin.com/in/cheryl-lewman-58241066/" target="_blank">
                <i class="fab fa-linkedin-in socMedia red-text"></i>
            </a>
                <a href="https://gist.github.com/clewman" target="_blank">
            <i class="fab fa-github socMedia red-text"></i>
                </a>
                <a href="https://gist.github.com/clewman" target="_blank">
                    <i class="fab fa-codepen socMedia red-text"></i></a>
            </h4>
        </div>
    </div>
    <div class="row">
        <div class="col m5 s10"><p>Lorem ipsum dolor amet jean shorts VHS etsy food truck literally kombucha PBR&B
            distillery wolf crucifix paleo. Pickled forage mustache tilde tofu. Man bun shabby chic vinyl pop-up
            scenester. Normcore williamsburg fingerstache, enamel pin selfies everyday carry celiac brooklyn.
            Williamsburg iceland chicharrones tote bag, mixtape tilde man braid paleo.</p></div>
        <div class="col s0 m1"></div>
        <div class="col m5 s10"><p>Blue bottle fingerstache kinfolk, authentic ugh truffaut chartreuse unicorn offal. Blue
            bottle la croix locavore heirloom, cardigan chambray microdosing. Biodiesel 3 wolf moon woke neutra bitters.
            Chicharrones cred cornhole tbh portland, poutine williamsburg pok pok organic cloud bread polaroid sriracha
            iPhone chartreuse. Put a bird on it disrupt hella shabby chic vexillologist heirloom.</p></div>
    </div>
    <div class="row">
        <div class="col s4"></div>
        <div class="col s5"> <a href="{% url 'charts:graphs'  %}">
            <btn class="waves-effect waves-light btn-large"><h5>Create a Graph</h5></btn>
            </a>
</div>
        <div class="col s3"></div>
    </div>
</div>

{% endblock %}
