/*Materialize dark grey #424242*/
/*materialize light grey #e0e0e0*/
/*materialize med grey #616161*/
/*div {*/
/*border: 2px red solid;*/
/*}*/

body {
    background-color: #00bbee;
    color: #424242;
    font-family: 'Roboto', sans-serif;
}

header {
    margin-top: 10px;
}

nav {
    margin-bottom: 10px;
}

a {
    color: red;
}

iframe {
    width: 100%;
    height: 450px;
}

/**************************************DROP DOWNS***************************************/
/*.ddMenus {*/
/*background-color: #666;*/
/*background-color:white;*/
/*width: 25%;*/
/*padding: 2%;*/
/*margin-top: 1%;*/
/*display:inline-block;*/
/*margin: auto;*/
/*}*/

/*changes the color of the list contents*/
/*ul.dropdown-content.select-dropdown li span {*/
    /*color: #616161;*/

/*}*/

/*.select-wrapper input.select-dropdown {*/
    /*margin-left: 50%;*/
    /*text-align: center;*/
/*}*/

/*input.select-dropdown {*/
    /*color: red;*/
    /*border-bottom: 0px solid white !important;*/
/*}*/

/*.dropdown-content li > span {*/
    /*color: #424242;*/
/*}*/

/*!*.select-wrapper .caret {*!*/
    /*!*fill: red;*!*/
    /*!*display: none !important;*!*/
/*!*}*!*/
/*.select-wrapper .caret {*/
    /*fill: red;*/
    /*margin-top: 20%;*/
/*}*/

/*.graphArrow {*/
    /*align:right;*/
    /*text-align: right;*/
    /*margin-left: 30%;*/

    /*width: 100px;*/
    /*height: 50px;*/
    /*border: 3px solid pink;*/

/*}*/

.flexbox {
  display: flex;
  flew-wrap: wrap;
  justify-content: center;
  align-items: center;
}
/**************************************EXTRA***************************************/
.homeStyles {
    font-size: 1.25em;
    margin: 0 -17%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10%;
    letter-spacing: 1px;
    font-weight: 400;
    background-color: #f1f1f1;
    box-shadow: 3px 3px 5px #666;

}

.brand-logo {
    margin-left: 4%;
}

#circle {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin: 5%;
}

.chartContainer {
    background-color: #f1f1f1;
    border-radius: 35px 35px 0 0;
    width: 100%;
    padding: 2%;
    box-shadow: 3px 3px 5px #666;
}

.mainContainer {
    padding-top: 3%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(0, 187, 238, 0.9), rgba(0, 187, 238, 0.4)), url("images/data.jpeg");
    background-size: cover;
}

.subtitle {
    color: #616161;
}

.socMedia {
    margin-left: 3%;
}

.socialMedia {
    text-align: center;
    margin-left: 3%;
    margin-top: 3%;
}

.btn-large {
    height: 100%;
    background-color: red;
}

.btn-large:hover {
    height: 100%;
    background-color: darkred;
}


