/*Materialize dark grey #424242*/
/*materialize light grey #e0e0e0*/
/*materialize med grey #616161*/
/*div {*/
/*border: 1px red solid;*/
/*}*/

body {
    background-color: #00bbee;
    color: #424242;
    font-family: 'Roboto', sans-serif;
}
.red-text {
    color:#993366 !important;
}
header {
    margin-top: 10px;
}

nav {
    margin-bottom: 10px;
}

a {
    color: #993366;
}

iframe {
    width: 100%;
    min-height: 450px;
    background-color:white;
}

/**************************************DROP DOWNS***************************************/

input.select-dropdown {
    text-align: center;
    border-bottom: 0px solid white !important;
}

.dropdown-content li > span {
    margin: 0 auto;
    color: #424242;
}

.select-wrapper .caret {
    position: absolute;
    top: 55%;
    right:40%;
    fill: #993366;
}

.dd_btn_container {
    position: relative;
}

.dd_btn {
    margin: 0;
    position: absolute;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}


/**************************************EXTRA***************************************/
#i_frame_div {
    position:relative;
}
/*#loading_icon img{*/
    /*position:absolute;*/
    /*bottom: 25%;*/
    /*right: 40%;*/
    /*width: 25%;*/
    /*!*display:none;*!*/
/*}*/

/*#loading_icon p {*/
    /*position:absolute;*/
    /*bottom: 20%;*/
    /*right: 40%;*/
    /*!*display:none;*!*/
/*}*/

.homeStyles {
    font-size: 1.25em;
    margin: 0 -17%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 10%;
    letter-spacing: 1px;
    font-weight: 400;
    background-color: #f1f1f1;
    box-shadow: 3px 3px 5px #666;

}

.brand-logo {
    margin-left: 4%;
}

#circle {
    width: 80px;
    height: 80px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin: 5%;
}

.chartContainer {
    background-color: #f1f1f1;
    border-radius: 35px 35px 0 0;
    width: 100%;
    padding: 2%;
    box-shadow: 3px 3px 5px #666;
}

.mainContainer {
    padding-top: 3%;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    background: linear-gradient(0deg, rgba(0, 187, 238, 0.9), rgba(0, 187, 238, 0.4)), url("images/data.jpeg");
    background-size: cover;
}

.subtitle {
    color: #616161;
}

.socMedia {
    margin-left: 3%;
}

.socialMedia {
    text-align: center;
    margin-left: 3%;
    margin-top: 3%;
}

.btn-large {
    height: 100%;
    background-color: #993366;
}

.btn-large:hover {
    height: 100%;
    background-color: darkred;
}

.btn {
    background-color: #993366;
}

.btn:hover {
    background-color: darkred;
}

